@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
}

html{
    /* Sirve para deslizarse por el menu al hacer click */
    scroll-behavior: smooth;
}

hr.separador{
    height: 8px;
    background-color: rgb(255, 158, 1);
    background-image: linear-gradient(90deg, rgb(255, 158, 1), transparent);
    border: 0;
    height: 10px;
}

/* MENU */

.contenedor-header{
    background: #252A2E;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Bebas Neue';
    font-size: 36px;
    color: rgba(244, 151, 22, 0.995);
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;  
    text-decoration: none; 
}

.contenedor-header header nav ul li a:hover{
    color: aqua;
}

.nav-responsive{
    background-color: rgb(220, 124, 55);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* INICIO */

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondoInicio.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #15172a;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid rgb(235, 139, 48);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 50%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 48px;
    font-family: 'Bebas Neue';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 30px;
    transition: .3s;
}

.inicio .contenido-banner .redes a.hover-facebook:hover{
    color: rgb(0, 81, 255);
}

.inicio .contenido-banner .redes a.hover-twitter:hover{
    color: aqua;
}

.inicio .contenido-banner .redes a.hover-linkedin:hover{
    background-color: blue;
}

.inicio .contenido-banner .redes a.hover-github:hover{
    color: rgb(255, 106, 0);
}

.inicio .contenido-banner .boton-musica a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    background: rgb(235, 139, 48);
    padding: 70px 30px;
    text-transform: uppercase;
    border-radius: 50%;
    animation: animacion 2s linear infinite;
}

@keyframes animacion {
    0% {
      box-shadow: 0 0 0 0 rgba(235, 139, 48, .6),  0 0 0 0 rgba(235, 139, 48, .6);
    }
  
    30% {
      box-shadow: 0 0 0 100px rgba(235, 139, 48, 0), 0 0 0 0 rgba(235, 139, 48, .6);
    }
  
    65% {
      box-shadow: 0 0 0 100px rgba(235, 139, 48, 0), 0 0 0 30px rgba(235, 139, 48, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(235, 139, 48, 0),  0 0 0 30px rgba(235, 139, 48, 0);
    }
  
  }

/* SOBRE MÃ */

.sobremi{
    background-image: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 20px;
}

.sobremi .contenedor-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi .contenedor-sobremi{
    max-width: 1100px;
    background-color: #1b1f21;
    border-radius: 50px;
    margin: auto auto 15px auto;
    padding: 50px;
    flex-direction: row;
    justify-content: center;
    transition: .9s;
}

.sobremi .contenedor-sobremi:hover{
    background-color: rgb(23, 73, 73);
}

.sobremi h2{
    font-size: 50px;
    font-family: 'Bebas Neue';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 20px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
    line-height: 150%;
}

.sobremi .contenido-seccion p span{
    color: rgb(235, 155, 58);
    font-size: 26px;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Bebas Neue';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
    font-size: 20px;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: rgb(235, 155, 58);
    width: 190px;
}

.sobremi .fila .col ul li span{
    background-color: rgb(235, 155, 58);
    color: rgb(20, 22, 50);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-hobbies{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-hobbies .hobbies{
    width: 100px;
    height: 100px;
    background-color: #1b1f21;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-hobbies .hobbies:hover{
    background-color: rgb(7, 143, 143);
}

.sobremi .fila .col .contenedor-hobbies .hobbies i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* HABILIDADES */

.habilidades{
    background-image: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/cool-background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 20px;
}

.habilidades .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.habilidades h2{
    font-size: 50px;
    font-family: 'Bebas Neue';
    text-align: center;
    padding: 20px 0;
}

.habilidades .fila{
    display: flex;
}

.habilidades .fila .col{
    width: 50%;
    padding: 0 20px;
}

.habilidades .fila .col h3{
    font-size: 28px;
    font-family: 'Bebas Neue';
    margin-bottom: 25px;
}

.habilidades .habilidad > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.habilidades .habilidad .barra-habilidad{
    height: 8px;
    width: 80%;
    background-color: #000000;
    position: relative;
    margin-bottom: 30px;
}

.habilidades .habilidad .barra-habilidad .progreso{
    background-color: #d57c15;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.habilidades .habilidad .barra-habilidad span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #d57c15;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Porcentaje de la barra de progreso para cada habilidad */

.habilidades .habilidad .java{
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0%{width: 0%;}
    100%{width: 80%;}
}

.habilidades .habilidad .android{
    width: 0%;
    animation: 2s android forwards;
}

@keyframes android {
    0%{width: 0%;}
    100%{width: 90%;}
}

.habilidades .habilidad .cloud{
    width: 0%;
    animation: 2s cloud forwards;
}

@keyframes cloud {
    0%{width: 0%;}
    100%{width: 75%;}
}

.habilidades .habilidad .baseD{
    width: 0%;
    animation: 2s baseD forwards;
}

@keyframes baseD {
    0%{width: 0%;}
    100%{width: 85%;}
}

.habilidades .habilidad .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 65%;}
}

.habilidades .habilidad .react{
    width: 0%;
    animation: 2s react forwards;
}

@keyframes react {
    0%{width: 0%;}
    100%{width: 60%;}
}

.habilidades .habilidad .equipo{
    width: 0%;
    animation: 2s equipo forwards;
}

@keyframes equipo {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .adaptabilidad{
    width: 0%;
    animation: 2s adaptabilidad forwards;
}

@keyframes adaptabilidad {
    0%{width: 0%;}
    100%{width: 85%;}
}

.habilidades .habilidad .aprendizaje{
    width: 0%;
    animation: 2s aprendizaje forwards;
}

@keyframes aprendizaje {
    0%{width: 0%;}
    100%{width: 85%;}
}

.habilidades .habilidad .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 75%;}
}

.habilidades .habilidad .ingles{
    width: 0%;
    animation: 2s ingles forwards;
}

@keyframes ingles {
    0%{width: 0%;}
    100%{width: 70%;}
}

.habilidades .habilidad .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 80%;}
}

/* RESUMEN CURRICULAR */

.resumen{
    background-image: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/cool-background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 20px;
}

.resumen .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.resumen h2{
    font-size: 50px;
    font-family: 'Bebas Neue';
    text-align: center;
    padding: 20px 0;
}

.resumen .fila{
    display: flex;
    justify-content: space-between;
}

.resumen .fila .col{
    width: 49%;
    padding: 0 20px;
}

.resumen .fila .col h3{
    font-size: 28px;
    font-family: 'Bebas Neue';
    margin-bottom: 25px;
}

.resumen .fila .izquierda{
    border-right: 2px solid rgb(254, 110, 0);
}

.resumen .fila .derecha{
    border-left: 2px solid rgb(254, 110, 0);
}

.resumen .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #1b1f21;
    position: relative;
    border-radius: 50px;
}

.resumen .fila .item h4{
    font-size: 22px;
    margin-bottom: 10px;
}

.resumen .fila .item .instituto{
    color: #d57c15;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.resumen .fila .item .fecha{
    display: block;
    color: #d57c15;
    margin-bottom: 10px;   
}

.resumen .fila .item p{
    font-size: 18px;
    line-height: 24px;
}

.resumen .fila .izq{
    border-right: 2px solid #d57c15;
    margin-right: 20px;
}

.resumen .fila .der{
    border-left: 2px solid #d57c15;
    margin-left: 20px;
}

.resumen .fila .item .conectori{
    height: 2px;
    background-color: #d57c15;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.resumen .fila .item .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d57c15;
    float: right;
    position: relative;
    bottom: 4px;
}

.resumen .fila .item .conectord{
    height: 2px;
    background-color: #d57c15;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.resumen .fila .item .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d57c15;
    float: left;
    position: relative;
    bottom: 4px;
}

/* PROYECTOS */

.proyectos{
    background-image: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/cool-background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 20px;
}

.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.proyectos h2{
    font-size: 50px;
    font-family: 'Bebas Neue';
    text-align: center;
    padding: 20px 0;
}

.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proyectos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.proyectos .galeria .proyecto img{
    width: 100%;
    display: block;
}

.proyectos .galeria .proyecto img.caf{
    height: 450px;
    width: 300px;
}

.proyectos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(2, 100, 220, 0.8), rgba(214, 117, 5, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.proyectos .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1.5s;
}

.proyectos .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.proyectos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/* CONTACTAME */

.contactame{
    background-image: linear-gradient(to top, rgba(30,35,38,.3), rgba(30,35,38,.6)), url(img/cool-background5.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 20px;
}

.contactame .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contactame h2{
    font-size: 50px;
    font-family: 'Bebas Neue';
    text-align: center;
    padding: 20px 0;
}

.contactame .fila{
    display: flex;
}

.contactame .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contactame .col input, .contactame .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contactame button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contactame button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #e99a1a;
    z-index: -1;
    transition: 1s;
}

.contactame button:hover .overlay{
    width: 100%;
}

.contactame .col img{
    width: 100%;
}

.contactame .col .info{
    position: relative;
    background-color: #252A2E;
    padding: 20px;
    max-width: 300px;
    left: 10%;
    top: 10%;
    transform: translate(-50%, -50%);
}
.contactame .col .info ul{
    list-style: none;
}
.contactame .col .info ul li{
    margin-bottom: 20px;
}
.contactame .col .info ul li i{
    color: #ed873a;
    display: inline-block;
    margin-right: 20px;
}

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 30px;
    transition: .3s;
}

footer .redes a.hover-facebook:hover{
    color: rgb(0, 81, 255);
}

footer .redes a.hover-twitter:hover{
    color: aqua;
}

footer .redes a.hover-linkedin:hover{
    background-color: blue;
}

footer .redes a.hover-github:hover{
    color: rgb(255, 106, 0);
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ec9327;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #e99630;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: 100%;
    }

    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-habilidad{
        width: 100%;
    }

    .resumen .fila{
        display: block;
    }
    .resumen .fila .col{
        width: 90%;
    }
    .resumen .fila .derecha{
        margin-left: 20px;
    }

    .proyectos .galeria{
        display: block;
        width: 100%;
    }
    .proyectos .galeria .proyecto{
        max-width: 100%;
    }
    .proyectos .galeria .proyecto img{
        width: 100%;
    }
    .contactame .fila{
        display: block;
    }
    .contactame .fila .col{
        width: 100%;
    }
}